h1 {
	font-family: Times New Roman;
	font-variant:small-caps;
	color:mediumblue; 
	text-align: left;
}

h2 {
	font-family: Times New Roman;
	font-variant:small-caps;
	color:mediumblue; 
	text-align: left;
}

p {
	font-family: Times New Roman;
	font-variant: small-caps;		
	text-align: left;
}

.pI {
	font-family: Times New Roman;
	font-variant: small-caps;		
	text-align: center;
	font-size: 14pt;
}

.p2 {
	font-family: Times New Roman;
	text-transform: capitalize;
	font-weight: bolder;			
	text-align: center;
	font-size: 22pt;
}

ul {
	font-family: Times New Roman;
	font-variant:small-caps;
}

#INTRO {
	align-content: right;
	text-align: right;
	font-family: Times New Roman;
	color: black; 
	font-variant: small-caps;
}

.sections {
	text-align: left;
	font-family: Times New Roman;
	font-variant: small-caps;
	font-size: 14pt;
	border: 1px dashed black;
	margin: 40px;
	padding: 30px;
}